* {
    box-sizing: border-box;
    font-family: Bahnschrift;
}

body {
    padding: 0;
    margin: 0;
}
p {
    margin: 10px;
}
h2 {
    font-weight: 600;
    font-size: 30px;
    margin: 60px 0 0;
}
header {
    align-items: center;
    width: 100%;
    background-color: #b034ff;
    height: 55px;
    position: fixed;
    z-index: 20;
    justify-content: space-around;
    display: flex;
}
.cart-box {
    display: flex;
    color: white;
    font-size: 18px;
}
.logo {
    font-family: Dialog;
    font-size: 38px;
    color: white;
    padding: 10px 15px;
}
.cart {
    background: transparent;
    width: 100px;
    border: 2px solid white;
    height: 40px;
    border-radius: 8px;
    font-size: 21px;
    color: white;
}
.cart:hover {
    background: white;
    color: darkviolet;
    box-shadow: 2px 4px 22px white;
    transition-duration: .8s;
}
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.wrapper {
    height: 100%;
    width: 90%;
    margin: 0 0 0 15%;
    position: relative;

}
.sidebar {
    width: 190px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    height: 100%;
    border-right: 2px solid #d434f821;
    /*z-index: -10;*/
}
.container {
    min-height: 75vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: space-around;
    /*background-color: #f2b2dd57;*/
}
.sorting-box {
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    width: 80%;
    justify-content: space-around;
    padding: 5px 10%;
    align-items: baseline;
}

.sorting-box button {
    border: 2px solid transparent;
    background: white;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}
.sorting-box button:hover {
    border-bottom: 2px solid darkviolet;
    transition-duration: .5s;
    color: black;
}
.search-input {
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 3px 5px;
}
.search-input:focus{
    outline: none;
}
.food-card {
    width: 230px;
    height: 330px;
    /*border: 1px solid rgba(147, 120, 120, 1);*/
    margin: 25px 15px;
    overflow: hidden;
    background: white;
    box-shadow: 4px 6px 23px #0000001f;
    border-radius: 8px;
}
.food-card:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}
.title-holder {
    text-align: center;
}
.types-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    list-style: none;
    padding: 10px;
}
.types-list > li {
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 11px;
    font-size: 20px;
}
.types-list > li:hover {
    box-shadow: 4px 3px 25px rgb(130 132 230 / 40%);
    /*transition-delay: .2s;*/
    transition: ease-in-out;
}
.food-info {
    text-align: center;
    margin-bottom: 10px;
}
.img-holder {
    height: 250px;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    position: relative;
}
.img-holder > img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}
.add {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 18px;
    background: white;
    border: 3px solid darkviolet;
    color: darkviolet;
}
.add:hover {
    width: 110%;
    top: 15px;
    right: -15px;
    background: white;
    border: 3px solid darkviolet;
    color: darkviolet;
    transition-duration: .8s;
}
.food-title {
    font-size: 20px;
}
.food-price {
    color: #00000091;
}
.modal-container {
    position: absolute;
    z-index: 10;
    background-color: #0000008a;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.modal-box {
    width: 70%;
    min-height: 300px;
    background-color: white;
    margin: 15% auto 0;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    justify-content: space-between;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.close-btn {
    width: 40px;
    font-size: 25px;
    padding: 0;
    border: 2px solid darkviolet;
    border-radius: 8px;
    color: darkviolet;
    box-shadow: 1px 1px 15px #9400d36b;
}
.order {
    width: 120px;
    font-size: 19px;
    padding: 5px;
    border: 2px solid darkviolet;
    border-radius: 14px;
    color: darkviolet;
    box-shadow: 1px 1px 15px #9400d36b;
    align-self: end;
}
.close-btn:hover, .order:hover {
    background: darkviolet;
    color: white;
    transition-duration: .2s;
}
.order-list {
    font-size: 18px;
    padding: 15px 0;
}
.cart-list {
    display: flex;
    flex-direction: column;
}
.cart-item {
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 85%;
}
.remove-item {
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    color: red;
    font-size: 21px;
}
.remove-item:hover {
    box-shadow: 1px -2px 20px #ff0000b5;
    border-radius: 8px;
    border: 2px solid #ff000066;
}
.cart-item  p {
    margin-right: 15%;
}
.cart-list input {
    width: 10%;
    font-size: 18px;
    margin-right: 10px;
}
.order-box {
    display: flex;
    flex-direction: column-reverse;
}
.cart-message {
    font-weight: 300;
    font-size: 20px;
}
.total-price {
    font-size: 19px;
    font-weight: 500;
}

footer {
    background-color: #b034ff;
    width: 100%;
    min-height: 85px;
    padding: 2px 15%;
    color: white;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.contacts p {
    margin-bottom: 10px;
}